/* Write your global styles here, in PostCSS syntax */
html.dark {
  color-scheme: dark;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

